<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletMini</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cnsi.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.cnsi.Register_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.cnsi.Logout_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>household</servlet-name>
    <servlet-class>com.cnsi.Household_Packers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>household</servlet-name>
    <url-pattern>/Household_Packers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Office_Controller</servlet-name>
    <servlet-class>com.cnsi.Office_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_Controller</servlet-name>
    <url-pattern>/Office_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vehicle_Controller</servlet-name>
    <servlet-class>com.cnsi.Vehicle_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle_Controller</servlet-name>
    <url-pattern>/Vehicle_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>View</servlet-name>
  <servlet-class>com.cnsi.View_Alldata</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>View</servlet-name>
  <url-pattern>View_Alldata</url-pattern>
  </servlet-mapping>
  
</web-app>